:root {
    --bg-color: hsl(225, 100%, 94%);
    --h2-color: hsl(223, 47%, 23%);
    --text-color: hsl(224, 23%, 55%);
    --button-bg: hsl(245, 75%, 52%);
    --card-bg: hsl(0, 0%, 100%);
    --plan-bg: hsl(225, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: var(--bg-color);
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(images/pattern-background-mobile.svg) top center/contain no-repeat;
    z-index: -1;
}
main{
    width: 90%;
    max-width: 370px;
}
article{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--card-bg);
}
img{
    display: block;
    width: 100%;
    object-fit: contain;
    border-radius: 15px 15px 0 0; 
}
h2,
h4 {
    color: var(--h2-color);
    font-weight: 900;
}
p{
    color: var(--text-color);
    margin-inline: auto;
    text-align: center;
    max-width: 26ch;
}
.plan{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    background-color: var(--plan-bg);
    gap: 5rem;
    padding: 1.5rem;
    border-radius: 10px;
}
.plan-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.plan-about {
  display: flex;
  flex-direction: column;
  align-items: center; 
  white-space: nowrap;
}
.plan a{
    color: var(--button-bg);
    font-weight: 900;
    font-size: clamp(0.75rem, 0.875rem + 0.5vw, 0.875rem);
}
.plan a:hover{
    color: var(--h2-color);
}
.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: none;
    margin: 1rem;
}
.actions button{
    border: none;
    cursor: pointer;
    padding: 1rem 6rem;
    border-radius: 5px;
    font-weight: 600;
}
.actions .proceed{
    background-color: var(--button-bg);
    color: var(--plan-bg);
}
.actions  .proceed:hover{
    background-color: var(--h2-color);
}
.cancel-order:hover{
    color: var(--h2-color);
    cursor: pointer;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
@media (min-width:768px) {
    body::before {
    background: url(images/pattern-background-desktop.svg) top center/contain no-repeat;
}
.plan-about {
  white-space: nowrap;
}
}