:root {
  --background: hsl(85, 61%, 27%);
  --card: hsl(87, 40%, 49%);
  --color: hsl(0, 0%, 100%);  /* beyaz */
  --hover: hsl(68, 75%, 61%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--background);
}
.card{
    background-color: var(--card);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }