:root{
    --background-color:hsl(0, 0%, 100%);
    --heading:hsl(234, 12%, 34%);
    --text:hsl(212, 6%, 44%);
    --supervisor:hsl(180, 62%, 55%);
    --team-builder:hsl(0, 78%, 62%);
    --karma:hsl(34, 97%, 64%);
    --calculator:hsl(212, 86%, 64%)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100dvh;
    display: grid;
    align-items: center;
    justify-content:center ;
    font-family: "Poppins", sans-serif;
    color: var(--text);
}
main{
    margin-top: 3rem;
    text-align: center;
}
.text h1{
    font-weight: 200;

}
.text .bold{
    color: var(--heading);
    font-weight: 600;
}
.text p{
    font-size: 15px;
}
.boxes{
    margin: 5rem 0;
    
}
.supervizor,
.team-builder,
.karma,
.calculator{
    height: 100%;
    max-height: 300px;

    box-shadow:1px 1px 5px var(--text);
    border-radius: 10px;
}
.supervizor{
    border-top: 5px solid var(--supervisor);
    
}
.team-builder{
    border-top: 5px solid var(--team-builder);
    
}
.karma{
    border-top: 5px solid var(--karma);
   
}
.calculator{
    border-top: 5px solid var(--calculator);
   
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }