*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --red: hsl(4, 100%, 67%);
    --blue-800: hsl(234, 29%, 20%);
    --blue-700: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: #fff;
    --radius: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--blue-700);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.app {
    width: 100%;
    max-width: 900px;
    padding: 1rem;
}

/* CARD */
.card {
    background: var(--white);
    border-radius: var(--radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card__image img {
    width: 100%;
    display: block;
}

.card__content {
    padding: 2rem;
}

.card__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--blue-800);
}

.card__description {
    margin-bottom: 1rem;
    color: var(--blue-800);
}

.card__list {
    list-style: none;
    margin-bottom: 2rem;
}

.card__list li {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 0.75rem;
    color: var(--blue-800);
}

/* FORM */
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__label-row {
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    font-weight: 700;
}

.form__error {
    color: var(--red);
    display: none;
}

.form__input {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid var(--grey);
    font-size: 1rem;
}

.form__input.error {
    border-color: var(--red);
    background: rgba(255, 98, 87, 0.1);
}

.btn {
    padding: 1rem;
    border-radius: 8px;
    border: none;
    background: var(--blue-800);
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover {
    background: linear-gradient(90deg,
            hsl(4, 100%, 67%),
            hsl(340, 100%, 65%));
}

.btn--full {
    width: 100%;
}

/* SUCCESS */
.success {
    background: var(--white);
    margin: auto;
    padding: 2.5rem;
    border-radius: var(--radius);
    max-width: 500px;
}

.success__icon {
    margin-bottom: 1.5rem;
}

.success h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--blue-800);
}

.success p {
    margin-bottom: 2rem;
    color: var(--blue-800);
}

.hidden {
    display: none;
}

@media (min-width: 768px) {
    .card {
        flex-direction: row-reverse;
    }

    .card__image {
        flex: 1;
    }

    .card__content {
        flex: 1;
        padding: 3rem;
    }

}