body{
    background-color:  hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100dvh;
    align-items:center;
    font-family: "Outfit", sans-serif;
}
.card{
    margin: 10%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
}
    .card .qr-code img{
        width: 100%; /* Card width: fills the available space but does not exceed 320px*/
        max-width: 320px; 
        border-radius: 15px;
        margin-top: 1rem;
    }
    .text{
        padding: 2rem;
        text-align: center;
    }
        .text h1{
            color: hsl(218, 44%, 22%);
            font-weight: 700;
            font-size: clamp(1.25rem, 2vw + 1rem, 1.5rem);
        }
        .text p{
            color: hsl(216, 15%, 48%);
            font-weight: 400;
        }

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }