@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import "tailwindcss";


@theme{
  --color-white:hsl(0, 0%, 100%);
  --color-black:hsl(0, 0%, 0%);
  --color-grey:hsl(0, 0%, 85%);
  --font-alata:'Alata',sans-serif;
  --font-josefin-sans:'Josefin Sans',sans-serif;


}