:root {
  --clr-primary: hsl(172, 67%, 45%);
  --clr-dark-cyan: hsl(183, 100%, 15%);
  --clr-grayish-cyan: hsl(186, 14%, 43%);
  --clr-light-grayish-cyan: hsl(185, 41%, 84%);
  --clr-very-light-gray: hsl(189, 41%, 97%);
  --clr-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--clr-light-grayish-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.app {
  width: 100%;
  max-width: 900px;
  padding: 2rem;
}

.logo {
  text-align: center;
  letter-spacing: 8px;
  color: var(--clr-dark-cyan);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.calculator {
  background-color: var(--clr-white);
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  gap: 2rem;
}

.form-section {
  flex: 1;
}

.form-group {
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--clr-grayish-cyan);
  font-weight: 600;
}

.input-wrapper {
  position: relative;
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--clr-grayish-cyan);
}

input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.5rem;
  border: none;
  background-color: var(--clr-very-light-gray);
  border-radius: 8px;
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
}

input:focus {
  outline: 2px solid var(--clr-primary);
}

.tip-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.tip-btn {
  background-color: var(--clr-dark-cyan);
  color: var(--clr-white);
  border: none;
  padding: 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease;
}

.tip-btn:hover {
  background-color: var(--clr-primary);
  color: var(--clr-dark-cyan);
}

.custom-tip {
  text-align: center;
  padding: 0.75rem;
}
.label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-message {
  font-size: 0.8rem;
  color: #e17052;
  font-weight: 700;
  visibility: hidden;
}

.input-error {
  outline: 2px solid #e17052;
}
.result-section {
  flex: 1;
  background-color: var(--clr-dark-cyan);
  color: var(--clr-white);
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.result-title {
  font-weight: 600;
}

.result-sub {
  font-size: 0.8rem;
  color: var(--clr-grayish-cyan);
}

.result-value {
  font-size: 2rem;
  color: var(--clr-primary);
}

.reset-btn {
  background-color: var(--clr-primary);
  border: none;
  padding: 0.75rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
  
}

.reset-btn:hover {
  opacity: 0.8;
}

/* Responsive */

@media (max-width: 768px) {
  .calculator {
    flex-direction: column;
  }
}