* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: hsl(185, 75%, 39%);
    --card-bg: hsl(225, 10%, 92%);
    --heading-color: hsl(229, 23%, 23%);
    --text-color: hsl(227, 10%, 46%);
}

body {
    font-family: "Kumbh Sans", sans-serif;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    background-color: var(--bg-color);
    text-align: center;
    background-image:
        url('images/bg-pattern-top.svg'),
        url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: top -200px left -200px, bottom -200px right -200px;
    background-size: 400px;
}
h2, h3, p {
    line-height: 1.3;
}


h2 {
    color: var(--heading-color);
    padding: 0.7rem 0;
}

h3 {
    color: var(--heading-color);
}

p {
    color: var(--text-color);
}

span {
    color: var(--text-color);
    font-weight: 400;
    padding: 0.5rem;
    font-size: 22px;
}

main {
    width: 100%;
    max-width: 350px;
    margin: 1rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--card-bg);
    border-radius: 1rem;
    overflow: hidden;
}

.card-bg {
    width: 100%;
}

.avatar {
    width: 96px;
    border-radius: 50%;
    border: 5px solid var(--card-bg);
    margin-top: -60px;
}

.about {
    padding: 1.5rem;
}

section hr {
    width: 100%;
    border: 1px solid var(--text-color);
    opacity: 0.3;
}

.profile-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 2rem;
}

.stat-item p {
    font-size: 13px;
    letter-spacing: 2px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--card-bg);
}

.attribution a {
    color: var(--heading-color);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

@media (min-width: 481px) and (max-width: 1024px) {
    body {
        background-size: 500px;
        background-position:
            top -260px left -260px,
            bottom -260px right -260px;
    }
}

@media (min-width: 1025px) {
    body {
        background-size: 750px;
        background-position:
            top -350px left -350px,
            bottom -350px right -350px;
    }
}