* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-card: hsl(263, 55%, 52%);
    --purple-heading: hsl(260, 100%, 95%);
    --purple-text: hsl(264, 82%, 80%);
    --grey-card: hsl(217, 19%, 35%);
    --grey-text: hsl(224, 10%, 45%);
    --grey-heading: hsl(217, 19%, 35%);
    --dark-blue-card: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(214, 17%, 92%);
    --fs-body: clamp(0.7rem, 1vw, 0.9rem);
}

body {
    min-height: 100dvh;
    background-color: var(--grey);
    display: grid;
    place-content: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: var(--fs-body);
}

main {
    margin: 2rem auto;
    width: 90%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 24px 30px;
}

.card {
    border-radius: 10px;
    padding: 1.5rem
}

.card__img {
    border-radius: 50%;
    width: 2rem;
}

.card__user-info h2,
.card__user-info p {
    font-size: 13px;
}

h3 {
    position: relative;
    z-index: 5;
    margin: 1rem 0;
    font-size: 20px;
}

.card--daniel {
    background-color: var(--purple-card);
    grid-column: span 2 /span 2;
    position: relative;
}

.card--daniel .quatation {
    position: absolute;
    top: 5px;
    right: 3rem;
    z-index: auto;
}

.card--jonathan {
    background-color: var(--grey-heading);
    grid-column-start: 3;
}

.card--kira {
    background-color: var(--white);
    grid-row: span 2 / span 2;
    grid-column-start: 4;
}

.card--patrick {
    background-color: var(--dark-blue-card);
    grid-column: span 2 /span 2;
    grid-row: 2;
    grid-column-start: 2;
}

.card--jeanette {
    background-color: var(--white);
    grid-column-start: 1;
    grid-row-start: 2;
}

.card__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:768px) {
    main {
        display: fle;
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
    }

    .card {
        grid-row: auto;
        grid-column: auto;
    }
}