:root {
  --main-bg: hsl(233, 47%, 7%);
  --card-bg: hsl(244, 37%, 16%);
  --accent: hsl(277, 64%, 61%);
  --white: hsl(0, 0%, 100%);
  --text-light: hsl(0, 0%, 100%, 0.75);
  --text-muted: hsl(0, 0%, 100%, 0.6);
  /*font size*/
  --fs-h1: clamp(1.4rem, 1vw + 1rem, 1.9rem);
  --fs-body: clamp(0.85rem, 0.4vw + 0.7rem, 1rem);
  --fs-stat-h4: clamp(1rem, 0.5vw + 0.9rem, 1.4rem);
  --fs-stats-p: clamp(0.55rem, 0.3vw + 0.4rem, 0.75rem);
  /*border-radius*/
  --radius: 0.5rem
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg);
  color: var(--white);
}

main {
  margin: 10rem auto;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--card-bg);
  border-radius: var(--radius);
}

.picture {
  background-color: var(--accent);
  overflow: hidden;
  border-radius: 0 var(--radius)  var(--radius) 0;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right;
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.content {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  padding: 3rem;
}

.content h1 {
  font-family: "Lexend Deca", sans-serif;
  font-size: var(--fs-h1)
}

.content p {
  font-family: "Inter", sans-serif;
  color: var(--text-muted);
  font-size: var(--fs-body);
  line-height: 1.8;

}

.content h1 span {
  color: var(--accent);
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 3rem;

}

.description h4 {
  font-family: "Lexend Deca", sans-serif;
  font-size: var(--fs-stat-h4)
}

.description p {
  font-family: "Inter", sans-serif;
  color: var(--text-muted);
  font-size: var(--fs-stats-p);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.attribution {
  font-size: var(--fs-stats-p);
  text-align: center;
}

.attribution a {
  color: var(--accent);
}

@media(max-width: 1024px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  img {
    border-radius: 0 var(--radius)  var(--radius) 0;
  }

  .content {
    grid-row-start: 2;
    align-items: center;
    text-align: center;
  }

  .description {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 767px) {
  main {
    margin: 2rem;
    width: 90%;
    grid-template-columns: 1fr;
  }

  .content {
    grid-row-start: 2;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

  .description {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .picture {
    border-radius: var(--radius)  var(--radius) 0 0;
  }
}