@font-face {
    font-family:'DMSans';
    src: url(assets/fonts/static/DMSans-Regular.ttf) format('truetype');
    font-weight:400;
    font-style: normal;
}
@font-face {
    font-family: 'DMSans';
    src: url(assets/fonts/static/DMSans-Medium.ttf) format('truetype');
    font-weight:500;
    font-style: normal;
}
@font-face {
    font-family: 'DMSans';
    src: url(assets/fonts/static/DMSans-MediumItalic.ttf) format('truetype');
    font-weight:500;
    font-style: italic;
}
:root{
    --white:hsl(0, 0%, 100%);
    --black:hsl(0, 0%, 7%);
    --light-yellow:hsl(31, 66%, 93%);
    --dark-yellow:hsl(39, 100%, 71%);
    --light-purple:hsl(254, 88%, 90%);
    --dark-purple:hsl(256, 67%, 59%);
    --font-body: clamp(16px, 1.8vw, 18px);
    --font-h1:clamp(2.25rem, 2rem + 1.75vw, 2.5rem);
    --font-h3:clamp(24px, 4vw, 28px);
    --font-h3-small:clamp(20px, 4vw, 24px);
    --font-p:clamp(14px, 4vw, 18px);
}
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100dvh;
    display: grid;
    place-content: center;
    background-color: var(--white);
    font-family: 'DMSans',sans-serif;
    font-size: var(--font-body);
}
h3{
    font-weight: 500; 
    line-height: 1;
    font-size: var(--font-h3-small);
}
p{
    font-weight: 400;
    line-height: 1.2;
    font-size: 12px;
}
.bento-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    width: 60%;
    max-width: 1400px;
    margin: 2rem auto ;
}
    .bento-card{
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow:1px 1px 5px var(--light-purple);
    }
    .bento-card--create{
        background-color: var(--light-yellow);
        grid-column:  1/2;
        grid-row:1/ span 2;
        font-size: 24px;
        padding: 1rem;
    }
        .bento-card--create h3{
            margin-bottom: 1rem;
            letter-spacing: -2px;
            font-size: var(--font-h3);
        }
            .bento-card--create h3 .italic{
                color: var(--dark-purple);
                font-style: italic;
            }
    .bento-card--hero{
        background-color: var(--dark-purple);
        grid-column: 2 / span 2;
        grid-row:1/  2;
        text-align: center;
        padding: 2rem 1.5rem;
    }
        .bento-card--hero h1{
            line-height: 1;
            margin-bottom: 1rem;
            font-weight: 500;
            color: var(--white);
            font-size: var(--font-h1);
        }
            .bento-card--hero .highlight{
                color: var(--dark-yellow);
            }
            .bento-card--hero p{
                color: var(--white);
                margin-top: 0.5rem;
            }
            .bento-card--hero img{
                width: 100%;
                max-width: 150px;
            }
    .bento-card--timing{
        grid-column-start: 4;
        grid-row: 1/ span 3;
        background-color: var(--light-purple);
        }
        .bento-card--timing h3{
            text-align: left;
            padding: 1.5rem;
        }
        .bento-card--timing img{
            margin-left: auto;
            margin-right:0;         
            width: 87%;             
            height: 50%;
            object-fit: cover; 
            object-position: left;
        }
        .bento-card--timing p{
            text-align: left;
            padding: 1.5rem;
        }
    .bento-card--ai{
        background-color: var(--dark-yellow);
        grid-column-start: 1;
        grid-row:3/ span 2;
        padding: 0.7rem;
    }
        .bento-card--ai h3{
            margin-bottom: 1rem;
            line-height:1;
            text-align: left;
            padding: 0.7rem;
        }
        .bento-card--ai img{
            width: 100%;
            max-width: 170px;
            margin:  0.5rem;
        }
    .bento-card--platforms{
        background-color: var(--white);
        grid-column-start:  2;
        grid-row: 2/4;
    }
        .bento-card--platforms img{
            margin-top: 0;
            margin-bottom: 0.7rem;
            width: 97%;             
            height: 25%;
            object-fit: cover;
            object-position: left;
        }
         .bento-card--platforms h3{
            padding: 0.5rem;
         }
    .bento-card--stats{
        background-color: var(--white);
        grid-column-start:  2;
        grid-row: 4/5;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }
        .bento-card--stats h1{
            font-weight: 500;
            text-align: left;
        }
        .bento-card--stats p{
            margin-top: 0.3rem ;
        }
        .bento-card--stats img{
            width: 100%;
            max-width: 150px;
            align-self: center;
            margin: 1.5rem 0;
        }
    .bento-card--schedule{
        background-color: var(--dark-yellow);
        grid-column-start:  3;
        grid-row: 2/4;
        display: flex;
        flex-direction: column;
    }
        .bento-card--schedule h3{
            text-align: left;
            padding: 1rem 
        }
        .bento-card--schedule img{
            margin-top: auto;
            margin-bottom: 0;
            width: 80%;             
            height: 40%;
            object-fit: cover; 
            object-position: top;
        }
    .bento-card--growth{
        background-color: var(--dark-purple);
        grid-column:3/span 2;
        grid-row: 4;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 1rem;
    }
        .bento-card--growth h3{
            color: var(--white);
            margin-top: 1rem;
        }
    img{ width:100%; max-width: 200px; }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: var(--dark-purple) }
@media (max-width:768px) {
    .bento-grid{
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        gap: 1rem;
    }
    .bento-card{
        grid-row: auto;
        grid-column: auto;
        align-items: flex-start;
    }
    .bento-card img{
        width: 100%;
        height: 100%;
        align-self: center;
    }
        .bento-card--hero p{
            align-self: center;
        }
        .bento-card--platforms{
            align-self: flex-start;
        }
        .bento-card--schedule img{
            align-self: flex-start;
            padding-left: 1rem;
        }
        .bento-card--timing,
        .bento-card--timing img{
            align-items: center;
            object-position: center;
            margin: auto;
        }
        .bento-card--stats,
        .bento-card--stats img{
            align-items: flex-start;
            align-self: flex-start;
        }
}
@media (min-width: 768px) and (max-width: 1024px) {
  
 .bento-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 90%;
        gap: 1rem;
    }
    .bento-card{
        grid-row: auto;
        grid-column: auto;
        align-items: center;
    }
    .bento-card img{
        width: 100%;
        height: 100%;
        align-self: center;
        object-fit: contain;
        object-position: center;
        align-items: center;
    }
}