@font-face {
    font-family:'DMSans-regular';
    src: url(assets/fonts/static/DMSans-Regular.ttf) format('truetype');
    font-weight:100 400;
    font-style: normal;
}
@font-face {
    font-family: 'DMSans-medium';
    src: url(assets/fonts/static/DMSans-Medium.ttf) format('truetype');
    font-weight:100 500;
    font-style: normal;
}
@font-face {
    font-family: 'DMSans-italic';
    src: url(assets/fonts/static/DMSans-MediumItalic.ttf) format('truetype');
    font-weight: 500;
    font-style: italic;
}
:root{
    --white:hsl(0, 0%, 100%);
    --black:hsl(0, 0%, 7%);
    --light-yellow:hsl(31, 66%, 93%);
    --dark-yellow:hsl(39, 100%, 71%);
    --light-purple:hsl(254, 88%, 90%);
    --dark-purple:hsl(256, 67%, 59%);
    --font-body: clamp(16px, 1.8vw, 18px);
}
*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100dvh;
    display: grid;
    place-content: center;
    background-color: var(--white);
    font-family: 'DMSans-medium',sans-serif;
    font-size: var(--font-body);
    letter-spacing: -2px;
}

h3{font-weight: 500; line-height: 1;}
.bento-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    width: 60%;
    max-width: 1400px;
    margin: 2rem auto ;
}
    .bento-card{
        border-radius: 15px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bento-card--create{
        background-color: var(--light-yellow);
        grid-column:  1/2;
        grid-row:1/ span 2;
        font-size: 24px;
    }
        .bento-card--create h3{
            font-weight: 500;
            margin-bottom: 1rem;
        }
            .bento-card--create h3 .italic{
                color: var(--dark-purple);
                font-style: italic;
            }
    .bento-card--hero{
        background-color: var(--dark-purple);
        grid-column: 2 / span 2;
        grid-row:1/  2;
        text-align: center;
        padding: 2rem 3rem;
    }
        .bento-card--hero h1{
            word-spacing:9px;
            line-height: 1;
            margin-bottom: 1rem;
            color: var(--white);
            font-family:'DMSans-regular';
        }
            .bento-card--hero .highlight{
                color: var(--dark-yellow);
            }
            .bento-card--hero p{
                color: var(--white);
                margin-top: 0.5rem;
                font-weight:100 ;
            }
    .bento-card--timing{
        grid-column-start: 4;
        grid-row: 1/ span 3;
        background-color: var(--light-purple);
    }
    .bento-card--ai{
        background-color: var(--dark-yellow);
        grid-column-start: 1;
        grid-row:3/ span 2;
    }
    .bento-card--platforms{
        background-color: var(--white);
        grid-column-start:  2;
        grid-row: 2/4;
    }
    .bento-card--stats{
        background-color: var(--white);
        grid-column-start:  2;
        grid-row: 4/5;
    }
    .bento-card--schedule{
        background-color: var(--dark-yellow);
        grid-column-start:  3;
        grid-row: 2/4;
    }
    .bento-card--growth{
        background-color: var(--dark-purple);
        grid-column:3/span 2;
        grid-row: 4;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
        .bento-card--growth{
            color: var(--white);
            font-size:24px;
        }
    img{ width:100%; max-width: 200px; }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
