@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

@theme{
  --font-league-spartan:"League Spartan",sans serif;
  --color-white:hsl(0, 100%, 100%);
  --color-grey-light:hsl(0, 0%, 63%);
  --color-grey-dark:hsl(0, 0%, 27%);
  --color-grey-black:hsl(0, 0%, 0%);
}
.fade-in {
    animation: fadeIn 500ms ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}